<p>Dear friend,</p>
<p>
    You just register your account at example.com
</p>
<p>
    Click to the link below to verify your account
</p>

<p>
    <a href="{{verifyAccountUrl}}{{token}}">{{verifyAccountUrl}}{{token}}</a>

    <p>Thank you.</p>